* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}

.dice-container {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
}

.dice {
  width: 150px;
  margin-bottom: 50px;
}
.dice svg {
  cursor: pointer;
}

.active svg {
  color: red;
}

.dice-number {
  font-size: 24px;
  cursor: default;
}

.dice-number::selection, .dice svg::selection {
  background: transparent;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}